button{
    background-color: rgb(197,80,80,1);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 2px;
}
.modal-dialog{
    background-color: aquamarine;
    border: 1px solid black;
    margin-top: 20px;
    width: fit-content;
    padding: 40px;
}
